<!DOCTYPE html>
<html>
<head>
    <title>Diabetic Retinopathy Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Diabetic Retinopathy Detection</h1>
    <form method="post" action="/predict" enctype="multipart/form-data" id="uploadForm">
        <input type="file" name="file" id="fileInput" accept=".png, .jpg, .jpeg">
        <input type="button" value="Predict" onclick="uploadImage()">
    </form>
    <div class="result-container">
        <h2>Prediction Result</h2>
        <p id="predictionInfo">
            {% if prediction %}
                Predicted Class: {{ prediction }}
            {% else %}
                No prediction available
            {% endif %}
        </p>
        <p id="remedyInfo">
            {% if remedy %}
                Remedy: {{ remedy }}
            {% else %}
                No remedy available
            {% endif %}
        </p>
    </div>

    <script>
        function uploadImage() {
            var form = document.getElementById('uploadForm');
            var fileInput = document.getElementById('fileInput');
            var predictionInfo = document.getElementById('predictionInfo');
            var remedyInfo = document.getElementById('remedyInfo');

            var formData = new FormData(form);

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    predictionInfo.innerText = 'Error: ' + data.error;
                    remedyInfo.innerText = '';
                } else {
                    predictionInfo.innerText = 'Predicted Class: ' + data.result;
                    remedyInfo.innerText = 'Remedy: ' + data.remedy;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
